CELERY_BROKER_URL=redis://127.0.0.1:6379
CELERY_RESULT_BACKEND=redis://127.0.0.1:6379
FROM_EMAIL=example@example.com
MAIL_SUBJECT=Test email
EMAIL_HOST=localhost
EMAIL_PORT=587
EMAIL_PASSWORD=1234567890
TELEGRAMM_BOT_TOKEN=1234567890:1234567890
MAILERSEND_API_KEY=1234567890
MAILSEND_NUMBER=+79001231212